In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report

In [18]:
#cargar el dataset
df= pd.read_csv('clientes.csv')

In [19]:
df

   edad  ingresos  cantidad_compras categoria
0    25      5000                10      malo
1    30      8000                 5      malo
2    40     12000                15     bueno
3    50     20000                20     bueno
4    35     10000                 8      malo
5    45     15000                12     bueno

In [21]:
#convertir las caracteristicas en una forma que el algortimo knn pueda procesar
X = df.drop(['categoria'], axis=1)
y = df['categoria']

In [22]:
X

   edad  ingresos  cantidad_compras
0    25      5000                10
1    30      8000                 5
2    40     12000                15
3    50     20000                20
4    35     10000                 8
5    45     15000                12

In [24]:
y

0      malo
1      malo
2     bueno
3     bueno
4      malo
5     bueno
Name: categoria, dtype: object

In [26]:
#dividir los datos en conjunto de entrenamiento y prueba
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.2,random_state=42)

In [27]:
X_train

   edad  ingresos  cantidad_compras
5    45     15000                12
2    40     12000                15
4    35     10000                 8
3    50     20000                20

In [28]:
X_test

   edad  ingresos  cantidad_compras
0    25      5000                10
1    30      8000                 5

In [29]:
y_train

5     bueno
2     bueno
4      malo
3     bueno
Name: categoria, dtype: object

In [30]:
y_test

0     malo
1     malo
Name: categoria, dtype: object

In [32]:
#definir los hiperparametros de KNN
K=5
distance_metric='euclidean'

In [37]:
#entrenar el modelo de clasificacion KNN
Knn= KNeighborsClassifier(n_neighbors=K,metric=distance_metric)
Knn.fit(X_train,y_train)

KNeighborsClassifier(metric='euclidean')

In [36]:
#evaluar el rendimeitno del modelo en el conjunto de pruebas
y_pred = knn.predict(X_test)
report = classification_report(y_test, y_pred)
print(report)

ValueError: Expected n_neighbors <= n_samples,  but n_samples = 4, n_neighbors = 5